*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

pre {
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    font-family: 'JetBrains Mono',Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace !important;
}

code {
    font-family: 'JetBrains Mono',Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace !important;
}
